
<h1 class="page-header">Produtos</h1>

<table class="table table-striped table-bordered">
    <% if @produtos.size > 0 %>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <%= render partial: "produto", collection: @produtos %> 
        </tbody>
    <% else %>
        <p>Nenhum produto foi encontrado para o termo "<strong><%= @busca %></strong>".</p>
    <% end %>
</table>
