
<h1 class="page-header">Produtos</h1>

<% if flash[:notice] %>
    <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
<% end %>
    
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <%= render partial: "produto", collection: @produtos_nome %> 
    </tbody>
</table>

<hr>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <%= render partial: "produto", collection: @produtos_qtd %> 
    </tbody>
</table>

<%= link_to "Adicionar", new_produto_path %>
